/Makefile
/aclocal.m4
/autom4te.cache
/compile
/config.log
/config.status
/configure
/depcomp
*.o
/install-sh
/missing
*.swp
/.deps
/Makefile.in
/test-driver
*.log
*.trs
*.swo
/*.tar.gz
/freedom-bin2hex
/py-compile
